* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: auto;
    min-height: 100%;
}

body {
    color: rgb(0, 0, 0);
    font-family: "PT Serif", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    position: relative;
    height: 100vh;
    background: url(fondo.png), linear-gradient(to left, #7b4397, #dc2430);
}
.container {
    max-width: 65%;
    margin: 100px auto;
    padding: 30px;
    background-size: cover;
    background-position: center;
    /* background: url(fondo.png), #7b4397;
    background: url(fondo.png), -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
    background: url(fondo.png), linear-gradient(to left, #7b4397, #dc2430); */
    background-color: rgb(217, 203, 254);
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    color: #000000;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px;
}


label {
    display: block;
    margin-top: 10px;
    color: rgb(0, 0, 153);
}

input, textarea, select {
    width: 96%;
    padding: 7px;
    margin-top: 5px;
    border: 1px solid #270b6f;
    border-radius: 7px;
}

button {
    margin-top: 20px;
    width: 96%;
    padding: 10px;
    background-color: rgb(8, 87, 14);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
    color: white;
}

.error {
    color: white;
    margin-top: 20px;
} 

.decrypted-message {
    background-color: #f1f1f1; /* Color de fondo */
    padding: 15px;            /* Espaciado interno */
    margin-top: 10px;          /* Separación superior */
    border: 1px solid #ccc;    /* Borde gris claro */
    border-radius: 5px;        /* Bordes redondeados */
    color: #333;               /* Color del texto */
    font-family: "Courier New", monospace; /* Fuente de estilo de terminal */
    word-wrap: break-word;     /* Asegura que el texto largo no desborde */
    max-width: 96%;
}