html {
    height: auto;
    min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#ecf0f1, blue);
    color: white;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #03071e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea, select {
    width: 96%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.error {
    color: red;
    margin-top: 20px;
}
